@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  text-align: center;
}

.heading {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}

nav a img {
  height: 50px;
}

nav a{
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

#logo:hover {
  text-decoration: none;
}

header {
  height: 86vh;
  padding: 20px;
  display: flex;
  background: linear-gradient(to bottom right, #3399ff 0%, #66ffff 100%);
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

header img {
  width: 200px;
  border-radius: 50%;
}

.intro {
  width: 50%;

  font-size: 25px;
  align-self: center;
  text-align: center;
}

.intro p {
  font-weight: 500;
}

h1 {
  margin-top: 1rem;
}

.btn {
  font-weight: 200;
  padding: .5rem;
  border-radius: 2rem;
}

.btn-color-2 {
  margin-top: 1rem;
  background-color: black;
}

.btn-color-2 a {
  text-decoration: none;
  color: white;
}

.btn-color-1, .btn-color-2 {
  border: rgb(53,53,53) 0.1rem solid;
}


.btn-color-1:hover{
  font-weight: 200;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
}

.btn-color-2:hover {
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
}



.about {
  margin: 5rem;
 
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
  padding: 2em;
  text-align: center;
  margin-bottom: 4rem;
}

.about h2 {
  margin-bottom: 4rem;
}

.about img {
  margin-bottom: 3rem;
  height: 60px;
}

.about p {
  margin-bottom: 4rem;
}

.learn-more {
  padding: 8px;
  background-color: black;
  color: white;
  border-radius: 20px;
}

.learn-more:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
}

.skills ul{
  list-style-position: inside;
}

.skills {
  margin-bottom: 4rem;
  display: flex;
  padding: 2rem;
  text-align: center;
  justify-content: space-evenly;
}

.professional-skills, .technical-skills  {
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 10px;
  width: 40%;
}

.professional-skills:hover, .technical-skills:hover {
  box-shadow: 0px 0px 5px 5px rgba(255, 1, 1, 0.3);
}

.skills h3 {
  margin-bottom: 1rem;
}

.education {
  text-align: center;
  padding: 2em;
  margin-bottom: 4rem;
  background: linear-gradient(to right, #3399ff 0%, #66ffff 100%);
}

.education h2 {
  margin-bottom: 2rem;
}

.education h3 {
  margin-top: 2rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h2 {
  margin-bottom: 2.5rem;
}

.contact a {
  border: 1px solid black;
  margin: 1rem;
  padding: 5px 10px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  background-color: black;
}

.contact a:hover {
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
}

footer {
  color: black;
  background: linear-gradient(to left, #3399ff 0%, #66ffff 100%);
 
  margin-top: 4rem;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}