@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  text-align: center;
}

.heading {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  background-color: black;
  
}

nav a{
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

#logo:hover {
  text-decoration: none;
}

header {
  height: 86vh;
  padding: 20px;

  display: flex;
}

figure {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

header img {
  width: 60%;
  height: 50%;
  border-radius: 50%;
}

.intro {
  width: 50%;

  align-self: center;
  text-align: center;
}

.intro p {
  font-weight: 500;
}

h1 {
  margin-top: 1rem;
}

.btn {
  font-weight: 200;
  padding: .5rem;
  border-radius: 2rem;
}

.btn-color-2 {
  margin-top: 1rem;
  background-color: black;
}

.btn-color-2 a {
  text-decoration: none;
  color: white;
}

.btn-color-1, .btn-color-2 {
  border: rgb(53,53,53) 0.1rem solid;
}


.about {

  padding: 2em;
  text-align: center;
  margin-bottom: 4rem;
}

.about h2 {
  margin-bottom: 4rem;
}

.about p {
  margin-bottom: 4rem;
}

.skills ul{
  list-style: none;
}

.skills {
  margin-bottom: 4rem;
  display: flex;
  padding: 2rem;
  text-align: center;
  justify-content: space-evenly;
}

.professional-skills, .technical-skills  {
  border: 1px solid black;
  margin-top: 2rem;
  border-radius: 10px;
  width: 40%;
}

.education {
  text-align: center;
  padding: 2em;
  margin-bottom: 4rem;
 
}

.education h2 {
  margin-bottom: 2rem;
}
